* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

@media (min-width:320px) {
    #main-header {
        display: flex;
        flex-wrap: wrap;

        .top-header {
            width: 100%;
            height: 55px;
            background-color: #0C4B35;
            display: flex;
            justify-content: center;
            align-items: center;

            .top-header-container {
                height: 20px;
                display: flex;
                justify-content: space-between;

                .addit-img-link {
                    height: 20px;
                    display: flex;
                    justify-content: space-between;

                    .img-link {
                        margin-right: 10px;
                        display: flex;
                        align-items: center;

                        .img-top-header {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .selector-block {
                    height: 20px;
                    display: flex;
                    justify-content: flex-end;

                    .top-lang-select {
                        margin-right: 10px;
                        background-color: #0C4B35;
                        color: white;
                        border: none;
                        outline: none;
                        font-size: 12px;
                    }
                }
            }
        }

        .bot-header {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;

            .bottom-header-container {
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .main-logo-container {
                    display: flex;
                    align-items: baseline;

                    .logo-add-first {
                        position: relative;

                        .logo-add-sec {
                            position: absolute;
                            right: -3px;
                            bottom: 13px;
                        }
                    }
                }

                .main-btn-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }

    /*Adaptive mode*/
    .descript-link {
        display: none;
    }

    .header-add-btn-second {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: none;

        img {
            width: 23.55px;
            height: 23.27px;
        }
    }

    .header-main-menu {
        display: none;
    }

    .main-btn-container {
        width: 100px;
    }

    .header-add-btn-first {
        margin-left: 5px;
        background-color: #00730C;
        border: none;
        width: 40px;
        height: 34px;
        border-radius: 10px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .btn-alert {
        display: none;
    }

    .top-header-container {
        width: 80%;
    }

    .bottom-header-container {
        width: 80%;
    }

    /*Adaptive mode end*/
}


@media (min-width:1024px) {
    .top-header-container {
        width: 60%;

        .addit-img-link {
            font-family: 'Nunito', sans-serif;
            font-size: 12px;
        }
    }

    .bottom-header-container {
        width: 60%;
    }

    .descript-link {
        display: block;

        a {
            text-decoration: none;
            color: white;
            padding-left: 10px;
        }
    }

    .main-btn-container {
        width: 75%;

        .header-add-btn-first {
            width: 110px;
            border-radius: 5px;

            img {
                margin-right: 10px;
            }

            .btn-alert {
                display: block;
                color: white;
            }
        }

        .header-main-menu {
            display: flex;

            .menu-inner-link {
                padding: 15px;

                a {
                    text-decoration: none;
                    color: black;
                    display: flex;
                    font-family: 'Nunito', sans-serif;

                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }

    .header-add-btn-second {
        display: none;
    }

    .main-section {
        background-image: url('img/navImg/bgOfSection.svg');
        background-repeat: no-repeat;
        .description-section-container {
            height: 719px;
            width: 100%;
            display: flex;
            align-items: center;
            
            .description-section-inner {
                height: 673px;
                margin-left: 30px;
                margin-right: 30px;
            }

            .photo-descript {
                display: flex;
                align-items: flex-end;
                margin-left: 0px;

                img {
                    margin-bottom: 60px;
                }
            }

            .content-descript {
                display: flex;
                align-items: center;
                justify-content: center;

                .content-descript-inner {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .inner-directive {
                        width: 100%;
                        padding-top: 15px;
                        padding-bottom: 15px;

                        &:nth-child(1) {
                            font-size: 16px;
                            font-weight: 700;
                            display: flex;
                            img {
                                margin-right: 5px;
                            }
                        }

                        &:nth-child(2) {
                            font-family: 'Nunito', sans-serif;
                            font-size: 48px;
                            font-weight: 800;
                        }

                        &:nth-child(3) {
                            font-size: 48px;
                            font-weight: 800;
                            color: #00730C;
                        }

                        &:nth-child(4) {
                            font-size: 18px;
                            font-weight: 400;
                        }

                        &:nth-child(5) {
                            width: 100%;
                            display: flex;
                            align-items: center;

                            .header-add-btn-first {
                                width: 110px;
                                border-radius: 5px;
                                margin-left: 0px;
                                margin-right: 35px;

                                p {
                                    color: white;
                                }
                            }

                            .inner-directive-arrow-content {
                                margin-right: 15px;
                            }

                            .inner-directive-arrow-right {
                                background-image: url('img/navImg/arrow_inner.svg');
                                width: 20px;
                                height: 20px;
                            }
                        }

                        &:nth-child(6) {
                            .inner-directive-list {
                                display: flex;
                                align-items: center;

                                .directive-list-inner {
                                    display: flex;
                                    align-items: center;
                                    margin-right: 20px;

                                    p {
                                        font-weight: 700;
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .description-section-main-photo {
                align-self: flex-end;
            }
        }
    }
}