* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

@media (min-width: 320px) {
  #main-header {
    display: flex;
    flex-wrap: wrap;
  }
  #main-header .top-header {
    width: 100%;
    height: 55px;
    background-color: #0C4B35;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main-header .top-header .top-header-container {
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  #main-header .top-header .top-header-container .addit-img-link {
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  #main-header .top-header .top-header-container .addit-img-link .img-link {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  #main-header .top-header .top-header-container .addit-img-link .img-link .img-top-header {
    width: 20px;
    height: 20px;
  }
  #main-header .top-header .top-header-container .selector-block {
    height: 20px;
    display: flex;
    justify-content: flex-end;
  }
  #main-header .top-header .top-header-container .selector-block .top-lang-select {
    margin-right: 10px;
    background-color: #0C4B35;
    color: white;
    border: none;
    outline: none;
    font-size: 12px;
  }
  #main-header .bot-header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main-header .bot-header .bottom-header-container {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #main-header .bot-header .bottom-header-container .main-logo-container {
    display: flex;
    align-items: baseline;
  }
  #main-header .bot-header .bottom-header-container .main-logo-container .logo-add-first {
    position: relative;
  }
  #main-header .bot-header .bottom-header-container .main-logo-container .logo-add-first .logo-add-sec {
    position: absolute;
    right: -3px;
    bottom: 13px;
  }
  #main-header .bot-header .bottom-header-container .main-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /*Adaptive mode*/
  .descript-link {
    display: none;
  }
  .header-add-btn-second {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
  }
  .header-add-btn-second img {
    width: 23.55px;
    height: 23.27px;
  }
  .header-main-menu {
    display: none;
  }
  .main-btn-container {
    width: 100px;
  }
  .header-add-btn-first {
    margin-left: 5px;
    background-color: #00730C;
    border: none;
    width: 40px;
    height: 34px;
    border-radius: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-alert {
    display: none;
  }
  .top-header-container {
    width: 80%;
  }
  .bottom-header-container {
    width: 80%;
  }
  /*Adaptive mode end*/
}
@media (min-width: 1024px) {
  .top-header-container {
    width: 60%;
  }
  .top-header-container .addit-img-link {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
  }
  .bottom-header-container {
    width: 60%;
  }
  .descript-link {
    display: block;
  }
  .descript-link a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
  }
  .main-btn-container {
    width: 75%;
  }
  .main-btn-container .header-add-btn-first {
    width: 110px;
    border-radius: 5px;
  }
  .main-btn-container .header-add-btn-first img {
    margin-right: 10px;
  }
  .main-btn-container .header-add-btn-first .btn-alert {
    display: block;
    color: white;
  }
  .main-btn-container .header-main-menu {
    display: flex;
  }
  .main-btn-container .header-main-menu .menu-inner-link {
    padding: 15px;
  }
  .main-btn-container .header-main-menu .menu-inner-link a {
    text-decoration: none;
    color: black;
    display: flex;
    font-family: "Nunito", sans-serif;
  }
  .main-btn-container .header-main-menu .menu-inner-link a img {
    width: 15px;
    height: 15px;
  }
  .header-add-btn-second {
    display: none;
  }
  .main-section {
    background-image: url("img/navImg/bgOfSection.svg");
    background-repeat: no-repeat;
  }
  .main-section .description-section-container {
    height: 719px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .main-section .description-section-container .description-section-inner {
    height: 673px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .main-section .description-section-container .photo-descript {
    display: flex;
    align-items: flex-end;
    margin-left: 0px;
  }
  .main-section .description-section-container .photo-descript img {
    margin-bottom: 60px;
  }
  .main-section .description-section-container .content-descript {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-section .description-section-container .content-descript .content-descript-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    display: flex;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(1) img {
    margin-right: 5px;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(2) {
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    font-weight: 800;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(3) {
    font-size: 48px;
    font-weight: 800;
    color: #00730C;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(4) {
    font-size: 18px;
    font-weight: 400;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(5) {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(5) .header-add-btn-first {
    width: 110px;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 35px;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(5) .header-add-btn-first p {
    color: white;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(5) .inner-directive-arrow-content {
    margin-right: 15px;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(5) .inner-directive-arrow-right {
    background-image: url("img/navImg/arrow_inner.svg");
    width: 20px;
    height: 20px;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(6) .inner-directive-list {
    display: flex;
    align-items: center;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(6) .inner-directive-list .directive-list-inner {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .main-section .description-section-container .content-descript .content-descript-inner .inner-directive:nth-child(6) .inner-directive-list .directive-list-inner p {
    font-weight: 700;
    padding-left: 10px;
  }
  .main-section .description-section-container .description-section-main-photo {
    align-self: flex-end;
  }
}/*# sourceMappingURL=style.css.map */